#trashbins{
    display: block;
    margin:auto;
    margin-left: 20%;
    margin-top: 10%;
}

#trashbins .bin{
    width: 150px;
    height: 400px;
    float: left;

    border: 5px solid black;
    border-top: none;
    margin: 1px;
}

#trashbins .bintop{
    border: none;
    position: relative;
}

img.bintoppic{
    width: 200px;
    position: absolute;
    clip: rect(0, 180px, 40px, 0);
    left: -25px;
    top: -40px;
}

#trashbins .binlabel{
    font-family: Moon;
    align-content: center;
    text-align: center;
    font-size: 30px;

    margin-top: 20px;

}

#trashbins #rifiuti{
    background-color: grey;
}

#trashbins #pet{
    background-color: lightblue;
}

#trashbins #alu{
    background-color: green;
}

#trashbins #carta{
    background-color: yellow;
}

.openingbin{
    animation: opening 2s forwards;
}

.closingbin{
    animation: closing 2s forwards;
}

@keyframes opening{
    0%{
        transform: translate(0px, 0px);
    }
    
    100% {
        transform: translate(0px, -50px);
    }
}

@keyframes closing{
    0%{
        transform: translate(0px, -50px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@font-face{
    font-family: Moon;
    src: url(./../fonts/moontypeface-free-font/Moon\ Light.otf);
}

#main{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#webcam-container{
    background: black;
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

#leftside{
    position: relative;
}