:root {
    --r_color: rgba(128,128,128,0.8);
    --p_color: rgb(130,180,200,0.8);
    --a_color: rgba(0,128,0,0.8);
    --c_color:rgba(200,200,0,0.8); 
  }


body{
    font-family: Moon;
    color: white;
    background: url(/img/backround4.png) no-repeat;
    background-size: 120% ;
}




body::after {
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

select{
    width: 200px;
    height: 50px;
    font-size: large;
    font-family: Moon;
}

/* General UX Improvements, Just Cosmetic */

#description{
    width: 400px;
    display: block;
    margin: auto;
    color: black;
}

#description h1{
    text-decoration: underline;
    padding: 5px;
}

#description h5{
    text-align: justify;
}

#classifybutton{
    background: none;
    border: white;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 10000px;
}

#classifybutton:hover{
    border: 1px white solid;
    background: rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
}

#trashbins{
    display: block;
    margin:auto;
    position: absolute;
    bottom: 10px;
    right: 160px;
    
    /* 
    margin-left: 200px;
    margin-top: 280px; */
}

#trashbins .bin{
    width: 150px;
    height: 320px;
    float: left;
    border: 3px solid rgba(0,0,0,0.8);
    border-top: none;
    margin: 1px;
    position: relative;
}


#trashbins .bintop{
    border-top: 2px dashed grey;
    position: relative;
}

img.bintoppic{
    width: 200px;
    position: absolute;
    clip: rect(0, 180px, 40px, 0);
    left: -25px;
    top: -40px;
}

#trashbins .binlabel{
    font-family: Moon;
    align-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;

}


/* .bin:hover .bintop .bintoppic{
    animation: opening 2s ;
} */
#trashbins #rifiuti{
    background-color: var(--r_color);
}

#trashbins #pet{
    background-color: var(--p_color);
}

#trashbins #alu{
    background-color: var(--a_color);
}

#trashbins #carta{
    background-color: var(--c_color);
}

.openingbin{
    animation: opening 2s forwards;
}

.closingbin{
    animation: closing 2s forwards;
}

.flashingred{
    animation: flashred 1s infinite;
}

@keyframes flashred{
    0%{
        color: black;
    }

    100% {
        color: red;
    }
}

/*Confidence bars related styles*/
.confidencebar{
    margin-left: 78px;
    width: 400px;
    height: 50px;
    border: 2px solid white;
    border-radius: 0 5px 5px 0;
}

#confidenceBars{
    margin-top: 50px;
}

.cbimg{
    height: 50px;
    position: absolute;
    left: 20%;
}

#rcb{
    background-color: var(--r_color);
}

#pcb{
    background-color: var(--p_color);
}

#acb{
    background-color: var(--a_color);
}

#ccb{
    background-color: var(--c_color);
}

@keyframes opening{
    0%{
        transform: translate(0px, 0px);
    }
    
    100% {
        transform: translate(0px, -50px);
    }
}

@keyframes closing{
    0%{
        transform: translate(0px, -50px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@font-face{
    font-family: Moon;
    src: url(./../fonts/moontypeface-free-font/Moon\ Light.otf);
}

#main{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#webcam-container{
    background: black;
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 4px;
}

#leftside{
    position: relative;
}


.fa-3x{
    margin-top: 40px;
    border: 3px solid white;
    padding: 20px;
    border-radius: 500px;
}

#locations select{
    display: block;
    width: 180px;
    position: absolute ;
    margin: auto;
    right: 10px;
    top: 10px;
    border: black;
}

#indications{
    display: none;
    position: relative; 
    z-index: 99;
    margin: auto;
    margin-top: 200px;
    width: 750px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
    background: rgba(255,255,255,0.46);
    padding: 30px;
    font-size: 22px;
    border: rgba(255,255,255,0.8) solid 3px;
}

#logo img{
    margin-top: 15px;
    width: 120px;
    margin: none;
}

#qrcode img {
    border-radius: 2px;
    border: black solid 1px;
}